<div id="batch">
  <section id="pid_edit">
    <h3><%= HTML_CONFIG['header_pid_edit'] %></h3>
  
    <article><%= HTML_CONFIG['edit_pid_text'] %></article>
  
    <hr />
    
    <form id="batch_form" name="batch_form" action="/link/edit" method="post" enctype="multipart/form-data">
      <label style="width: 10%;"><%= HTML_CONFIG['form_file'] %></label>
      <input type="submit" id="file_selector" value="<%= HTML_CONFIG['button_file_upload'] %>" class="inline_button" />
      <span id="selected_file"></span>
      <input type="file" id="csv" name="csv" accept="csv" style="display: none;" />
      <input type="submit" id="submit" name="submit" value="<%= HTML_CONFIG['button_process_batch'] %>" class="inline_button" style="float: right; margin-right: 200px;"/>
      <progress></progress>
    </form>
    
    <hr />
  
    <article><%= HTML_CONFIG['edit_pid_text_2'] %></article>

    <hr />
  </section>

  <section class="errors">
    <%= @msg %>
  </section>

  <section id="batch_results">
    <% if !@interested.empty? %>
      <h3><%= HTML_CONFIG['batch_duplicate_url_log'] %></h3>
    
      <% @interested.each do |pid| %>
         <%= pid.url %> - <%= HTML_CONFIG['form_pid'] %> <%= pid.id.to_s %><br />
      <% end %>
      <br />
    <% end %>
    
    <% if !@mints.empty? %>
      <h3><%= HTML_CONFIG['batch_mint_log'] %></h3>
    
      <% @mints.each do |mint| %>
        <%= HTML_CONFIG['form_pid'] %><%= mint.id.to_s %> - <%= mint.url %><br />
      <% end %>
      <br />
    <% end %>
  
    <% if !@revisions.empty? %>
      <h3><%= HTML_CONFIG['batch_revision_log'] %></h3>
    
      <% @revisions.each do |revision| %>
         <%= HTML_CONFIG['form_pid'] %><%= revision.id.to_s %> - <%= (revision.deactivated ? 'Inactive' : 'Active') %> - <%= revision.url %><br />
         <% end %>
    <% end %>
    
    <% if !@failures.empty? %>
      <h3><%= HTML_CONFIG['batch_failures'] %></h3>
      <% @failures.each do |failure| %>
        <%= failure %><br />
      <% end %>
    <% end %>
  </section>
</div>

<script type="text/javascript">

  $('progress').hide();
  
  $("#submit").click( function(event) {
    $('progress').show();
    $(".errors").html("");
  });
  
  $("#file_selector").click(function(event) {
    event.preventDefault();
    $("#csv").click();
  });
  
  $("#csv").change(function(){
    $("#selected_file").html($(this).val());
  });
  
  function progressHandlingFunction(e){
    if(e.lengthComputable){
      $('progress').attr({value: e.loaded, max: e.total});
    }
  }

</script>