<section id="user_forgot">
	<h3><%= HTML_CONFIG['header_forgotten_password'] %></h3>
	
	<form action="/user/forgot" method="post">
		<label><%= HTML_CONFIG['form_userid'] %></label><input type="text" id="login" name="login" value="<%= @login %>" />
		<label>&nbsp;</label><input type="submit" id="reset" name="reset" value="<%= HTML_CONFIG['button_forgotten_password'] %>" />
		<label>&nbsp;</label><a class="letterpress" href="/user/login"><%= HTML_CONFIG['link_to_login'] %></a>
	</form>
</section>

<section class="errors">
	<%= @msg %>
</section>
