<section id="user_login">
	<h3><%= form_text('header_login') %></h3>
	
	<form action="/user/login" method="post">
		<label><%= form_text('form_userid') %></label><input type="text" name="login" id="login" value="<%= @userid %>" />
		<label><%= form_text('form_password') %></label><input type="password" name="password" id="password" />
		<label>&nbsp;</label><input type="submit" id="submit" name="submit" value="<%= form_text('button_login') %>" />
		<label>&nbsp;</label><a class="letterpress" href="/user/forgot"><%= form_text('link_to_forgotten_password') %></a>
	</form>
	
</section>

<section class="errors">
	<%= @msg %>
</section>
