<header>Create PID(s)</header>

<section id="pid_new">

  <div class="red">
    <% if @pid && @pid.errors %>
      <% @pid.errors.full_messages.each do | message | %>
        <%= message %></br>
      <% end %>
    <% end %>
    
    <% unless @failures.empty? %>
    	The URLs below could not be validated. Please ensure that you have included the 
    	protocol (e.g. http://), and that each URL appears on its own line before 
    	resubmitting the form.
    <% end %>
  </div>
  
  <% urls = "" %>
  <%unless @failures.empty? %>
		<% @failures.each do |url, msg| %>
			<% urls += url.strip + "\r\n" %>
		<% end %>
	<% end %>
  
  <form action="/link" method="post">
    <label>Url(s): <textarea name="url" id="url" required
                        title="One URL per line.\nEach URL should include its protocol (e.g. http://)"><%= urls %></textarea></label>
        
    <input type="submit" name="Create">
  </form>
  
  <% unless @successes.empty? %>
  	<h3>Successfully created the following PIDs:</h3>
  	<ul>
  		<% @successes.each do |success| %>
      	<li><a href="<%= @hostname %><%= success %>">View PID <%= success %></li>
    	<% end %>
    </ul>
  <% end %>

</section>