<section id="pid_new">
  <h3><%= HTML_CONFIG['header_pid_register'] %></h3>
  
  <% urls = "" %>
  <% if !@failures.empty? %>
    <% @failures.each do |url, msg| %>
      <% urls += url + "\n" %>
    <% end %>
  <% end %>

  <form action="/link" method="post">
    <label style="vertical-align: 70px;"><%= HTML_CONFIG['form_urls'] %></label>
    <textarea name="new_urls" id="new_urls" required title="<%= HTML_CONFIG['create_pids_tooltip'] %>" style="height: 100px; width: 80%;"><%= urls %></textarea>
    <label>&nbsp;</label><input type="submit" id="create" name="create" style="vertical-align: 70px;">
  </form>
</section>

<section id="new_pid_instructions">
  <%= HTML_CONFIG['new_pids_text'] %>
</section>

<img src="/spinner.gif" id="spinner" />

<section class="errors">
    <% if @pid && @pid.errors %>
      <% @pid.errors.full_messages.each do | message | %>
        <%= message %></br>
      <% end %>
    <% end %>
    
    <% if !@failures.empty? %>
      <%= HTML_CONFIG['create_pids_some_errors'] %>
    <% end %>
</section>

<section id="pid_duplicate_urls">
  <% if !@interested.empty? %>
    <h3><%= HTML_CONFIG['header_pid_register_duplicate_url'] %></h3>
    
    <table>
        <tr><th><%= HTML_CONFIG['th_pid'] %></th><th><%= HTML_CONFIG['th_url'] %></th></tr>
        <% @interested.each do |interest| %>
          <tr>
            <td><a href="/link/<%= interest.id %>" class="letterpress"><%= interest.id %></a></td>
            <td><a href="<%= interest.url %>" class="underline" target="_blank"><%= interest.url %></a></td>
          </tr>
      <% end %>
    </table>
        
  <% end %>
</section>

<section id="pid_dead_urls">
  <% if !@dead_urls.empty? %>
    <h3><%= HTML_CONFIG['header_pid_register_dead_url'] %></h3>
    
    <table>
        <tr><th><%= HTML_CONFIG['th_pid'] %></th><th><%= HTML_CONFIG['th_url'] %></th></tr>
        <% @dead_urls.each do |pid| %>
          <tr>
            <td><a href="/link/<%= pid.id %>" class="letterpress"><%= pid.id %></a></td>
            <td><a href="<%= pid.url %>" class="underline" target="_blank"><%= pid.url %></a></td>
          </tr>
      <% end %>
    </table>
        
  <% end %>
</section>

<section id="pid_new_results">
  <% if !@successes.empty? %>
    <h3><%= HTML_CONFIG['header_pid_register_success'] %></h3>
    
    <table>
        <tr><th><%= HTML_CONFIG['th_pid'] %></th><th><%= HTML_CONFIG['th_url'] %></th></tr>
        <% @successes.each do |success| %>
          <tr>
            <td><a href="/link/<%= success.id %>" class="letterpress"><%= success.id %></a></td>
            <td><a href="<%= success.url %>" class="underline" target="_blank"><%= success.url %></a></td>
          </tr>
      <% end %>
    </table>
        
  <% end %>

</section>

<script type="text/javascript">
$("#spinner").hide();

$("#submit").click(function() {
  $("#spinner").show();
});
</script>

