
  <h1>PID: <%= @pid.id %></h1>
	<div id="pid">
		<span><span class="bold">PID URL:</span> <a href="<%= @pid.url %>"><%= @pid.url %></a></span>
		<span><span class="bold">Maintainers:</span> <%= @pid.groups.map { |group| group.id }.join(',') %></span>
		<span></span>
		<span><span class="bold">Creation Date:</span> <%= @pid.created_at %></span>
		<span><span class="bold">Last Modified:</span> <%= @pid.modified_at %></span>
		<span><span class="bold">Change Category:</span> <%= @pid.change_category %></span> 
  </div>
  
  <h2>History</h2>
  <% @pid.pid_versions.reverse.each do | version | %>
  
  	<div id="pid_version">      
      <span><span class="bold">Old URL:</span> <%= version.url %></span>
      <span><span class="bold">Created by:</span> <%= version.username %></span>
      <span><span class="bold">Created on:</span> <%= version.created_at %></span>
      <span><span class="bold">Change category:</span> <%= version.change_category %></span>
      <span><span class="bold">Notes:</span> <%= version.notes %></span>
    </div>
    <br/>
  <% end %>
