<section id="invalid_report">
  <h3><%= HTML_CONFIG['header_report_invalid'] %></h3>

  <div class="form_informational">This report is processed every Saturday night and scans only active PIDs.</div>
  
  <a href="/report" class="letterpress right"><%= HTML_CONFIG['link_to_reports'] %></a>

  <div>
    <form method="POST" action="/report/invalid">
      <label for="groupid"><%= HTML_CONFIG['form_group'] %></label>
      <select name="groupid" id="groupid">
        <option value=""></option>
        <% @groups.each do |group| %>
          <option value="<%= group.id %>" <%= 'selected="true"' if group.id.to_s == params[:groupid] %>><%= group.name.gsub("'", "&apos;") %></option>
        <% end %>
      </select>
      
      <label>&nbsp;</label><input type="submit" name="submit" id="submit" value="<%= HTML_CONFIG['button_search'] %>" />
    </form>
  </div>
</section>

<section class="errors">
  <%= @msg %>
</section>

<img src="/spinner.gif" id="spinner" style="top: 350px;" />


<section id="invalid_report_results">  
  <h3><%= HTML_CONFIG['header_report_invalid_results'] %></h3>
  
  <% if @error.length > 2 %>
    <h4><%= HTML_CONFIG['header_report_invalid_error'] %></h4>
    <button id="error" class="download"><%= HTML_CONFIG['button_csv_download'] %></button>
    
    <table id="error_table">
      <thead><tr><th />
          <th id="error_th_id"><%= HTML_CONFIG['th_pid'] %></th>
          <th id="error_th_url"><%= HTML_CONFIG['th_url'] %></th>
          <th id="error_th_username"><%= HTML_CONFIG['th_userid'] %></th>
          <th id="error_th_modified_at"><%= HTML_CONFIG['th_modified_date'] %></th></tr></thead>
          <tbody></tbody>
    </table>
    
    <input type="hidden" id="error_json" value='<%= @error.gsub("'", '%27').gsub("\\", '%5C') %>' />
  <% end %>
  
  <% if @not_found.length > 2 %>
    <h4><%= HTML_CONFIG['header_report_invalid_not_found'] %></h4>
    <button id="not_found" class="download"><%= HTML_CONFIG['button_csv_download'] %></button>
    
    <table id="not_found_table">
      <thead><tr><th />
        <th id="not_found_th_id"><%= HTML_CONFIG['th_pid'] %></th>
        <th id="not_found_th_url"><%= HTML_CONFIG['th_url'] %></th>
        <th id="not_found_th_username"><%= HTML_CONFIG['th_userid'] %></th>
        <th id="not_found_th_modified_at"><%= HTML_CONFIG['th_modified_date'] %></th></tr></thead>
        <tbody></tbody>
    </table>
    
    <input type="hidden" id="not_found_json" value='<%= @not_found.gsub("'", '%27').gsub("\\", '%5C') %>' />
  <% end %>
    
  <% if @moved.length > 2 %>
    <h4><%= HTML_CONFIG['header_report_invalid_moved'] %></h4>
    <button id="moved" class="download"><%= HTML_CONFIG['button_csv_download'] %></button>
    
    <table id="moved_table">
      <thead><tr><th />
        <th id="moved_th_id"><%= HTML_CONFIG['th_pid'] %></th>
        <th id="moved_th_url"><%= HTML_CONFIG['th_url'] %></th>
        <th id="moved_th_username"><%= HTML_CONFIG['th_userid'] %></th>
        <th id="moved_th_modified_at"><%= HTML_CONFIG['th_modified_date'] %></th></tr></thead>
        <tbody></tbody>
    </table>
    
    <input type="hidden" id="moved_json" value='<%= @moved.gsub("'", '%27').gsub("\\", '%5C') %>' />
  <% end %>
  
  <h4><%= HTML_CONFIG['header_report_invalid_skipped'] %></h4>
  <table id="skips_table">
    <tr><th style="text-align: left;"><%= HTML_CONFIG['th_domain'] %></th></tr>
    <% @skips.each do |skip| %>
      <tr><td><%= skip.domain %></td></tr>
    <% end %>
  </table>
  
  <input type="hidden" id="error_data" name="error_data" value='<%= @error.gsub("'", '%27').gsub("\\", '%5C') %>' />
  <input type="hidden" id="not_found_data" name="not_found_data" value='<%= @not_found.gsub("'", '%27').gsub("\\", '%5C') %>' />
  <input type="hidden" id="moved_data" name="moved_data" value='<%= @moved.gsub("'", '%27').gsub("\\", '%5C') %>' />
  
</section>

<script type="text/javascript">
  $("#spinner").hide();
  
  $("#submit").click( function(e){ $("#spinner").show(); });
  
  processJSON('error', '<%= @error.gsub("'", '%27').gsub("\\", '%5C') %>');
  processJSON('not_found', '<%= @not_found.gsub("'", '%27').gsub("\\", '%5C') %>');
  processJSON('moved', '<%= @moved.gsub("'", '%27').gsub("\\", '%5C') %>');
  
  function processJSON(name, json) {
    // Add a line to the table for each item in the JSON
    var i = 1;
    var rows = "";
    
    $("#" + name + "_table tbody").html('');
    
    $.each($.parseJSON(json), function(idx, pid) {
      var dt = new Date(pid.modified_at);
      var modified = "" + (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear()
    
      rows += "<tr>" +
                "<td>" + i + ")</td>" + 
                "<td><a href=\"/link/" + pid.id + "\" class=\"letterpress\">" + pid.id + "</a></td>" +
                "<td><a href=\"" + pid.url + "\" target=\"_blank\" class=\"underline\" title=\"" + pid.url + "\">" +
                             ((pid.url.length > 80) ? pid.url.substring(0, 79) + " ..." : pid.url) + "</td>" +
                "<td>" + pid.username + "</td>" +
                "<td>" + modified + "</td>" +
              "</tr>";
      i++;
    });
    
    $("#" + name + "_table tbody").html(rows);
  }

  $("th").click( function(e) {
    $("#spinner").show();
    
    var col = $(this).attr('id').replace('moved_th_', '').replace('not_found_th_', '').replace('error_th_', '');
    var table = $(this).attr('id').match(/moved_/) ? 'moved' : $(this).attr('id').match(/not_found_/) ? 'not_found' : 'error';
    
    // Sort the entire json dataset
    var sorted = sort_json_data($.parseJSON($("#" + table + "_data").val()), col);
    
    $("#" + table + "_data").val(JSON.stringify(sorted));
    
    // Get the paginated subset of json data and rebuild the table
    processJSON(table, JSON.stringify(sorted));

    $("#spinner").hide();
  });

  // convert the JSON into a CSV output
  $(".download").click( function(){
    var lines = '<%= HTML_CONFIG['th_pid'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_url'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_userid'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_modified_date'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_change_category'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_notes'].gsub(':', '') %>\r\n';
    
    $.each($.parseJSON($("#" + this.id + "_json").val()), function(idx, pid) {
      lines += '' + pid.id + ',"' + pid.url + '","' + pid.username + '", "' + pid.modified_at + '", "' + 
                  pid.change_category + '", "' + pid.notes + '"\r\n';
    });
    
    window.open("data: text/csv;charset=utf-8," + encodeURIComponent(lines));
  });

</script>