<section id="report_maintenance_stats">
  <h3><%= HTML_CONFIG['header_report_maintenance_criteria'] %></h3>
  
  <form action="/report/stats" method="post">
    <label><%= HTML_CONFIG['form_date_range'] %></label>
    <input type="date" id="start_date" name="start_date" value="<%= params[:start_date] %>" style="width: 150px;" />
    <div> - </div> 
    <input type="date" id="end_date" name="end_date" value="<%= params[:end_date] %>" style="width: 150px;" />
    
    <label>&nbsp;</label><input type="submit" id="submit" name="submit" value="<%= HTML_CONFIG['button_search'] %>" />
  </form>
  
</section>

<section class="errors">
  <%= @msg %>
</section>

<img src="/spinner.gif" id="spinner" style="top: 325px;" />

<% if request.request_method == "POST" %>
  
  <section id="search_results">
    <h3><%= HTML_CONFIG['header_report_maintenance_results'] %></h3>
    
    <a href="/report" class="letterpress right"><%= HTML_CONFIG['link_to_reports'] %></a>
  
    <% unless @json == '' %>
      <span style="left" id="rec_count"></span>
      <button class="download"><%= HTML_CONFIG['button_csv_download'] %></button>
    
      <table>
        <tr><th />
          <th><a href="#"><%= HTML_CONFIG['th_group'] %></a></th>
          <th style="text-align: left;"><a href="#"><%= HTML_CONFIG['th_number_created'] %></a></th>
          <th style="text-align: left;"><a href="#"><%= HTML_CONFIG['th_number_modified'] %></a></th>
          <th style="text-align: left;"><a href="#"><%= HTML_CONFIG['th_number_deactivated'] %></a></th>
      </table>
    
      <input type="hidden" id="data" value='<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>' />
      <button class="download"><%= HTML_CONFIG['button_csv_download'] %></button>
    
    <% else %>
      <article id="no_results"><%= HTML_CONFIG['report_no_activity'] %></article>
    <% end %>
  </section>
<% end %>
    
<script type="text/javascript">
  $("#spinner").hide();
  
  // Parse the json
  var json = $.parseJSON('<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>');
  $("#data").val('<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>');

  // Add a line to the table for each item in the JSON
  buildResultsTable(json);
  
  // convert the JSON into a CSV output
  $(".download").click( function(){
    var lines = '<%= HTML_CONFIG['th_group'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_number_created'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_number_modified'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_number_deactivated'].gsub(':', '') %>\r\n';
    
    $.each($.parseJSON($("#data").val()), function(idx, rec) {
      lines += '"' + rec.group + '",' + rec.created + ',' + rec.modified + ', ' + rec.deactivated + '\r\n';
    });
    
    window.open("data: text/csv;charset=utf-8," + encodeURIComponent(lines));
  });
  
  $("#submit").click( function(){ $("#spinner").show(); });

  function buildResultsTable(json){
    var i = 1;
    
    $.each(json, function(idx, rec) {
        
      $("table tr:last").after("<tr>" +
                                "<td>" + i.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ")</td>" + 
                                "<td>" + rec.group + "</td>" +
                                "<td>" + rec.created.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "</td>" +
                                "<td>" + rec.modified.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "</td>" +
                                "<td>" + rec.deactivated.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "</td>" +
                              "</tr>");
      i++;
    });
    return i;
  }
</script>