<section id="duplicate_report">
  <h3><%= HTML_CONFIG['header_report_duplicate'] %></h3>

  <div class="form_informational">This report is processed every Saturday night and scans all active PIDs.<br />Your manager can designate domains that should not be scanned due to contractual agreements made with the University (e.g. do not scan URLs starting with 'http://www.google.com').<br />PIDs that are modified or minted during the week will also appear on this report.</div>
  
  <a href="/report" class="letterpress right"><%= HTML_CONFIG['link_to_reports'] %></a>

  <div>
    <form method="POST" action="/report/duplicate">
      <label for="groupid"><%= HTML_CONFIG['form_group'] %></label>
      <select name="groupid" id="groupid">
        <option value=""></option>
        <% @groups.each do |group| %>
          <option value="<%= group.id %>" <%= 'selected="true"' if group.id.to_s == params[:groupid] %>><%= group.name.gsub("'", "&apos;") %></option>
        <% end %>
      </select>
      
      <label>&nbsp;</label><input type="submit" name="submit" id="submit" value="<%= HTML_CONFIG['button_search'] %>" />
    </form>
  </div>
</section>

<section class="errors">
  <%= @msg %>
</section>

<img src="/spinner.gif" id="spinner" style="top: 525px;" />
  
<section id="duplicate_report_results">
  <% unless @json == '{}' %>
    <span style="left" id="rec_count"></span>
    <button class="download"><%= HTML_CONFIG['button_csv_download'] %></button>
    
    <table>
      <tr><th />
        <th for="th_url"><%= HTML_CONFIG['th_url'] %></th>
        <th><%= HTML_CONFIG['th_duplicate_pids'] %></th></tr>
    </table>
    
    <input type="hidden" id="data" value='<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>' />
    <button class="download"><%= HTML_CONFIG['button_csv_download'] %></button>
    
  <% else %>
    <table>
      <tr><th /><th><%= HTML_CONFIG['th_url'] %></th><th><%= HTML_CONFIG['th_duplicate_pids'] %></th></tr>
      <tr><td colspan="3"><%= HTML_CONFIG['report_no_activity'] %></td></tr>
  <% end %>
  
    
</section>

<script type="text/javascript">
  $("#spinner").hide();
  
  $("#submit").click( function(e){ $("#spinner").show(); });
  
  var json = $.parseJSON('<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>');
  
  // Add a line to the table for each item in the JSON
  var i = 1;
  $.each(json, function(url, pids) {
      
    $("table tr:last").after("<tr>" +
                              "<td>" + i.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ")</td>" + 
                              "<td><a href=\"" + url + "\" target=\"_blank\" class=\"underline\" title=\"" + url + "\">" +
                                            ((url.length > 80) ? url.substring(0, 79) + " ..." : url) + "</td>" +
                              "<td>" + pids.replace(/%27/g, '') + "</td>" +
                             "</tr>");
    i++;
   });
   
   $("#rec_count").html((i - 1) + " records found");
  
  // convert the JSON into a CSV output
  $(".download").click( function(e){
    e.preventDefault();
    
    $("#spinner").show();

    var hdrs = '<%= HTML_CONFIG['th_url'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_pid'].gsub(':', '') %>,';
    
    var lines = '';
    var max_pids = 1;
    
    $.each($.parseJSON($("#data").val()), function(url, pids) {
      lines += url + ',';
      
      if(pids.length > max_pids){
        max_pids = pids.length;
      }
      
      pid_vals = pids.replace(/<a href=%27http:\/\/[a-zA-Z0-9\-_\.]+(:[0-9]+)?\/link\/[0-9]+%27>/g, '').replace(/<\/a>/g, '').split(',')

      $.each(pid_vals, function(idx, pid) {
        lines += pid + ',';
      });
      
      lines += '\r\n';
    });
    
    for(i = 0; i < (max_pids - 1); i++){
      hdrs += '<%= HTML_CONFIG['th_pid'].gsub(':', '') %>,';
    }
    
    hdrs += '\r\n';
    
    $("#spinner").hide();

    window.open("data: text/csv;charset=utf-8," + encodeURIComponent(hdrs + lines));
  });

</script>
