<section id="report_maintenance_stats">
  <h3><%= HTML_CONFIG['header_report_maintenance_criteria'] %></h3>
  
  <form action="/report/stats" method="post">
    <label><%= HTML_CONFIG['form_url'] %></label><input type="text" id="url" name="url" style="width: 350px;" value="<%= params[:url] %>" />
    
		<label><%= HTML_CONFIG['form_userid'] %></label>
    <select id="userid" name="userid">
    <option value=""></option>
      <% @users.each do |user| %>
        <option value="<%= user.id %>" <%= 'selected="true"' if user.id.to_s == params[:userid] %>><%= user.name %> (<%= user.login %>)</option>
      <% end %>
    </select>
    
		<label><%= HTML_CONFIG['form_created_date_range'] %></label>
		<input type="date" id="created_low" name="created_low" value="<%= params[:created_low] %>" />
		<div> - </div> 
		<input type="date" id="created_high" name="created_high" value="<%= params[:created_high] %>" />
		
		<label><%= HTML_CONFIG['form_modified_date_range'] %></label>
		<input type="date" id="modified_low" name="modified_low" value="<%= params[:modified_low] %>" />
		<div> - </div> 
		<input type="date" id="modified_high" name="modified_high" value="<%= params[:modified_high] %>" />
		
    <label>&nbsp;</label><input type="submit" id="submit" name="submit" value="<%= HTML_CONFIG['button_search'] %>" />
		<input type="submit" id="reset" name="reset" value="<%= HTML_CONFIG['button_reset'] %>" />
  </form>

  <article><%= HTML_CONFIG['search_text'] %></article>
  
</section>

<% if request.request_method == "POST" %>
  
  <section id="search_results">
    <h3><%= HTML_CONFIG['header_report_maintenance_results'] %></h3>
		
    <% i = 1 %>
    <% unless @results.empty? %>
      <table>
        <tr><th /><th><%= HTML_CONFIG['th_pid'] %></th><th><%= HTML_CONFIG['th_url'] %></th><th><%= HTML_CONFIG['th_userid'] %></th>
          <th><%= HTML_CONFIG['th_modified_date'] %></th><th><%= HTML_CONFIG['th_active'] %></th></tr>
        <% @results.each do |result| %>
          <tr>
						<% if result[:versions].count > 1 %>
							<td colspan="6"><table>
								<tr>
									<td rowspan="<%= result[:versions].count %>"><%= i %>)</td>
									<td rowspan="<%= result[:versions].count %>"><a href="/link/<%= result[:id] %>" class="letterpress"><%= result[:id] %></a></td>
								
									<td><a href="<%= result[:url] %>" target="_blank" class="underline" title="<%= result[:url] %>">
                    			<%= (result[:url].size > 80) ? result[:url].slice(0, 79) + ' ...' : result[:url] %></a></td>
            			<td><%= result[:username] %></td>
            			<td><%= result[:modified_at].strftime("%m/%d/%Y") %></td>
								  <td class="center"><%= (result[:deactivated]) ? '<span class="red bold">' + HTML_CONFIG['td_false'] + '</span>' : HTML_CONFIG['td_true'] %></td>
								</tr>
								
								<% result[:versions].each do |ver| %>
									<% if ver.created_at != result[:modified_at] %>
										<tr>
											<td><%= ver.url %></td>
											<td><%= ver.username %></td>
											<td><%= ver.created_at.strftime("%m/%d/%Y") %></td>
											<td class="center"><%= (ver.deactivated) ? '<span class="red bold">' + HTML_CONFIG['td_false'] + '</span>' : HTML_CONFIG['td_true'] %></td>
										</tr>
									<% end %>
								<% end %>
								
							</table></td>
						<% else %>
          		<td><%= i %>)</td>
          		<td><a href="/link/<%= result[:id] %>" class="letterpress"><%= result[:id] %></a></td>
            	<td><a href="<%= result[:url] %>" target="_blank" class="underline" title="<%= result[:url] %>">
                    			<%= (result[:url].size > 80) ? result[:url].slice(0, 79) + ' ...' : result[:url] %></a></td>
            	<td><%= result[:username] %></td>
            	<td><%= result[:modified_at].strftime("%m/%d/%Y") %></td>
            	<td class="center"><%= (result[:deactivated]) ? '<span class="red bold">' + HTML_CONFIG['td_false'] + '</span>' : HTML_CONFIG['td_true'] %></td>
						<% end %>
          </tr>
          
          <% i = i.next %>
        <% end %>
      </table>
      
    <% else %>
      <article id="no_results"><%= HTML_CONFIG['search_no_matches'] %></article>
    <% end %>
		
	</section>
<% end %>