<section id="inactive_report">
  <h3><%= HTML_CONFIG['header_report_inactive'] %></h3>
  
  <a href="/link/report" class="letterpress right"><%= HTML_CONFIG['link_to_reports'] %></a>
  
  <% unless @json == '' %>
    <button class="download"><%= HTML_CONFIG['button_csv_download'] %></button>
    
    <img src="/spinner.gif" id="spinner" />
    <table>
      <tr><th />
        <th id="th_id"><a href="#"><%= HTML_CONFIG['th_pid'] %></a></th>
        <th id="th_url"><a href="#"><%= HTML_CONFIG['th_url'] %></a></th>
        <th id="th_username"><a href="#"><%= HTML_CONFIG['th_deactivated_by'] %></a></th>
        <th id="th_modified_at"><a href="#"><%= HTML_CONFIG['th_deactivated_on'] %></a></th></tr>
    </table>
    
    <input type="hidden" id="data" value='<%= @json.gsub("'", '%27') %>' />
    <button class="download"><%= HTML_CONFIG['button_csv_download'] %></button>
    
  <% else %>
    <article id="no_results"><%= HTML_CONFIG['report_no_activity'] %></article>
  <% end %>
  
</section>

<section class="errors">
  <%= @msg %>
</section>


<script type="text/javascript">
  $("#spinner").hide();
  
  // Add a line to the table for each item in the JSON
  var i = buildResultsTable('<%= @json.gsub("'", '%27') %>')

  $("th").click( function() {
    $("#spinner").show();
    
    var id = $(this).attr('id').replace('th_', '');
    
    // Remove all of the existing lines from the search results
    $("table").find('tr:gt(0)').remove();

    //Sort the JSON by the selected column
    var json = $.parseJSON($("#data").val())
    json.sort( function(x,y) {
      return x[id].toString().localeCompare(y[id].toString());
    });
    
    //Update the json stored in the hidden field for CSV download
    var json_txt = JSON.stringify(json);
    $("#data").val(json_txt);
    
    //Reconstruct the table
    buildResultsTable(json_txt);
    
    $("#spinner").hide();
  });
  
  // convert the JSON into a CSV output
  $(".download").click( function(){
    var lines = '<%= HTML_CONFIG['th_pid'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_url'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_deactivated_by'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_deactivated_on'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_change_category'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_notes'].gsub(':', '') %>\r\n';
    
    $.each($.parseJSON($("#data").val()), function(idx, pid) {
      lines += '' + pid.id + ',"' + pid.url + '","' + pid.username + '", "' + pid.modified_at + '", "' + 
                  pid.change_category + '", "' + pid.notes + '"\r\n';
    });
    
    window.open("data: text/csv;charset=utf-8," + encodeURIComponent(lines));
  });
  
  function buildResultsTable(json){
    var i = 1;
    $.each($.parseJSON(json), function(idx, pid) {
      var dt = new Date(pid.modified_at);
      var modified = "" + (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + dt.getHours() + ":" + dt.getMinutes()
    
      $("table tr:last").after("<tr>" +
                              "<td>" + i + ")</td>" + 
                              "<td><a href=\"/link/" + pid.id + "\" class=\"letterpress\">" + pid.id + "</a></td>" +
                              "<td><a href=\"" + pid.url + "\" target=\"_blank\" class=\"underline\" title=\"" + pid.url + "\">" +
                                            ((pid.url.length > 80) ? pid.url.substring(0, 79) + " ..." : pid.url) + "</td>" +
                              "<td>" + pid.username + "</td>" +
                              "<td>" + modified + "</td>" +
                            "</tr>");
      i++;
    });
		return i;
  }

</script>
  