<section id="report_modifications">
  <h3><%= HTML_CONFIG['header_report_modifications_criteria'] %></h3>
	
	<a href="/report" class="letterpress right"><%= HTML_CONFIG['link_to_reports'] %></a>
  
  <form action="/report/mods" method="post">
    <label for="groupid"><%= HTML_CONFIG['form_group'] %></label>
    <select name="groupid" id="groupid">
      <option value=""></option>
      <% @groups.each do |group| %>
        <option value="<%= group.id %>" <%= 'selected="true"' if group.id.to_s == params[:groupid] %>><%= group.name.gsub("'", "&apos;") %></option>
      <% end %>
    </select>
		
    <label><%= HTML_CONFIG['form_date_range'] %></label>
    <input type="date" id="start_date" name="start_date" value="<%= params[:start_date] %>" style="width: 150px;" />
    <div> - </div> 
    <input type="date" id="end_date" name="end_date" value="<%= params[:end_date] %>" style="width: 150px;" />
    
    <label>&nbsp;</label><input type="submit" id="submit" name="submit" value="<%= HTML_CONFIG['button_search'] %>" />
  </form>
  
</section>

<section class="errors">
  <%= @msg %>
</section>

<img src="/spinner.gif" id="spinner" style="top: 350px;" />

<% if request.request_method == "POST" %>
  
  <section id="report_modifications_results">
    <h3><%= HTML_CONFIG['header_report_modification_results'] %></h3>
    
    <span style="left"><%= HTML_CONFIG['report_modifications_text'] %><br /></span>
  
    <% unless @json == '' %>
      <span style="left" id="rec_count"></span>
      <button class="download"><%= HTML_CONFIG['button_csv_download'] %></button>
    
      <table>
        <thead><tr><th />
          <th id="th_id"><%= HTML_CONFIG['th_pid'] %></th>
          <th id="th_modified_on"><%= HTML_CONFIG['th_modified_date'] %></th>
					<th id="th_types"><%= HTML_CONFIG['th_change_types'] %></th>
					<th id="th_current_url"><%= HTML_CONFIG['th_url'] %></th>
					<th id="th_active"><%= HTML_CONFIG['th_active'] %></th>
          </tr></thead>
					<tbody></tbody>
      </table>
    
      <input type="hidden" id="data" value='<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>' />
      <button class="download"><%= HTML_CONFIG['button_csv_download'] %></button>
    
    <% else %>
      <article id="no_results"><%= HTML_CONFIG['report_no_activity'] %></article>
    <% end %>
  </section>
<% end %>
    
<script type="text/javascript">
  $("#spinner").hide();
  
  // Parse the json
  var json = $.parseJSON('<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>');
  $("#data").val('<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>');

	$("#rec_count").html(json.length + " records found");

  // Add a line to the table for each item in the JSON
  buildResultsTable(json);
  
  // convert the JSON into a CSV output
  $(".download").click( function(){
		$("#spinner").show();
		
    var lines = '<%= HTML_CONFIG['th_pid'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_modified_date'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_userid'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_change_types'].gsub(':', '') %>, ' +
								'<%= HTML_CONFIG['th_url'].gsub(':', '') %>, ' +
								'<%= HTML_CONFIG['th_old_url'].gsub(':', '') %>, ' +
								'<%= HTML_CONFIG['th_active'].gsub(':', '') %>\r\n';
    
    $.each($.parseJSON($("#data").val()), function(idx, rec) {
      lines += '' + rec.id + ',' + rec.modified_on + ',"' + rec.username + '", "' + rec.types.replace(/<br[\s]?\/>/g, ' and ') + '", "' +
				 						rec.current_url + '", "' + rec.prior_url + '", "' + rec.active + '"\r\n';
    });
    
		$("#spinner").hide();
		
    window.open("data: text/csv;charset=utf-8," + encodeURIComponent(lines));
  });
  
  $("#submit").click( function(){ $("#spinner").show(); });

  $("th").click( function(e) {
    $("#spinner").show();
    
    var col = $(this).attr('id').replace('th_', '');
    
    // Sort the entire json dataset
    var sorted = sort_json_data($.parseJSON($("#data").val()), col);
    
    $("#data").val(JSON.stringify(sorted));
    
    buildResultsTable(sorted);

    $("#spinner").hide();
  });
	
  function buildResultsTable(json){
    var i = 1;
    rows = ""
		
		$("#table tbody").html('');
		
    $.each(json, function(idx, rec) {
      var dt = new Date(rec.modified_on);
      var modified = "" + (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear()
			
      rows += "<tr>" +
                  "<td>" + i + ")</td>" + 
									"<td><a href=\"/link/" + rec.id + "\" class=\"letterpress\">" + rec.id + "</a></td>" +
                  "<td>" + modified + "</td>" +
                  "<td>" + rec.types + "</td>" +
                  '<td><a href="' + rec.current_url + '" target="_blank" class="underline" title="' + rec.current_url + '">' +
                              ((rec.current_url.length > 70) ? rec.current_url.substring(0, 69) + ' ...' : rec.current_url) + '</a></td>' +
									"<td>" + rec.active + "</td>" +
               "</tr>";
      i++;
    });
		
		$("table tbody").html(rows);
		
    return i;
  }
</script>