<section id="inactive_report">
  <h3><%= HTML_CONFIG['header_report_inactive_criteria'] %></h3>
  
  <a href="/report" class="letterpress right"><%= HTML_CONFIG['link_to_reports'] %></a>
  
  <div>
    <form method="POST" action="/report/inactive">
      <label for="groupid"><%= HTML_CONFIG['form_group'] %></label>
      <select name="groupid" id="groupid">
        <option value=""></option>
        <% @groups.each do |group| %>
          <option value="<%= group.id %>" <%= 'selected="true"' if group.id.to_s == params[:groupid] %>><%= group.name.gsub("'", "&apos;") %></option>
        <% end %>
      </select>
      
      <label><%= HTML_CONFIG['form_deactivated_since'] %></label>
      <input type="date" id="modified_low" name="modified_low" value="<%= params[:modified_low] %>" style="width: 150px;" />
      <div> to Present&nbsp;&nbsp;&nbsp;&nbsp;(leave blank for ALL deactivated PIDs)</div> 
      
      <label>&nbsp;</label><input type="submit" name="submit" id="submit" value="<%= HTML_CONFIG['button_search'] %>" />
    </form>
  </div>
</section>

<section id="inactive_report_results">
  <h3><%= HTML_CONFIG['header_report_inactive_results'] %></h3>
  
  <% unless @json == '' %>
    <div style="left" id="rec_count"></div>
    <button class="download"><%= HTML_CONFIG['button_csv_download'] %></button>
    
    <table>
      <tr><th />
        <th id="th_id"><a href="#"><%= HTML_CONFIG['th_pid'] %></a></th>
        <th id="th_url"><a href="#"><%= HTML_CONFIG['th_url'] %></a></th>
        <th id="th_username"><a href="#"><%= HTML_CONFIG['th_deactivated_by'] %></a></th>
        <th id="th_modified_at"><a href="#"><%= HTML_CONFIG['th_deactivated_on'] %></a></th></tr>
    </table>
    
    <input type="hidden" id="data" value='<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>' />
    <button class="download"><%= HTML_CONFIG['button_csv_download'] %></button>
    
  <% else %>
    <article id="no_results"><%= HTML_CONFIG['report_no_activity'] %></article>
  <% end %>
  
</section>

<img src="/spinner.gif" id="spinner" style="top: 225px; left: 350px;" />

<section class="errors">
  <%= @msg %>
</section>


<script type="text/javascript">
  $("#spinner").hide();
  
  // Parse the json
   var json = $.parseJSON('<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>');

  $("#data").val('<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>');

  // Setup table pagination
  paginate_init(<%= APP_CONFIG['search_results_limit'] %>, json.length);
  
  // Filter the json dataset for the current page
  var json_subset = paginate_json(json, 1);
  
  $("#rec_count").html(json.length + " records found");
  
  // Add a line to the table for each item in the JSON
  buildResultsTable(json_subset);
  
  // Build the pagination navigation line
  pagination_build_nav($("table"), 1);
  
  
  $("th:not(.pagination)").click( function() {
    $("#spinner").show();
    
    // Sort the entire json dataset
    var sorted = sort_json_data($.parseJSON($("#data").val()), $(this).attr('id').replace('th_', ''));
    
    $("#data").val(JSON.stringify(sorted));
    
    // Get the paginated subset of json data and rebuild the table
    buildResultsTable(paginate_json(sorted, parseInt($("#current_page").val())));

    // Rebuild the pagination navigation
    pagination_build_nav($("table"), parseInt($("#current_page").val()));

    $("#spinner").hide();
  });
  
  
  $("th.pagination").click( function() {    
    changePage();
  });
  
  $("#submit").click( function(e){ alert('clicked'); $("#spinner").show(); });
  
  // convert the JSON into a CSV output
  $(".download").click( function(){
    $("#spinner").show();
    
    var lines = '<%= HTML_CONFIG['th_pid'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_url'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_deactivated_by'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_deactivated_on'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_change_category'].gsub(':', '') %>,' +
                '<%= HTML_CONFIG['th_notes'].gsub(':', '') %>\r\n';
    
alert(lines);

    $.each($.parseJSON($("#data").val()), function(idx, pid) {
      lines += '' + pid.id + ',"' + pid.url + '","' + pid.username + '", "' + pid.modified_at + '", "' + 
                  pid.change_category + '", "' + pid.notes + '"\r\n';
    });
    
    $("#spinner").hide();
    
    window.open("data: text/csv;charset=utf-8," + encodeURIComponent(lines));
  });
  
  // Required by the pagination controls since rebuilding the nav tr would lose the above th.pagination click event
  function changePage(){
    $("#spinner").show();
    
    // Get the paginated subset of json data and rebuild the table
    buildResultsTable(paginate_json($.parseJSON($("#data").val()), parseInt($("#current_page").val())));

    // Rebuild the pagination navigation
    pagination_build_nav($("table"), parseInt($("#current_page").val()));

    $("#spinner").hide();
  }
  
  function buildResultsTable(json){
    var i = 1;
    
    $("table").find('tr:gt(1):not(.page_nav)').remove();
    
    $.each(json, function(idx, pid) {
      var dt = new Date(pid.modified_at);
      var modified = "" + (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + dt.getHours() + ":" + dt.getMinutes()
    
      $("table tr:last").after("<tr>" +
                              "<td>" + i + ")</td>" + 
                              "<td><a href=\"/link/" + pid.id + "\" class=\"letterpress\">" + pid.id + "</a></td>" +
                              "<td><a href=\"" + pid.url + "\" target=\"_blank\" class=\"underline\" title=\"" + pid.url + "\">" +
                                            ((pid.url.length > 80) ? pid.url.substring(0, 79) + " ..." : pid.url) + "</td>" +
                              "<td>" + pid.username + "</td>" +
                              "<td>" + modified + "</td>" +
                            "</tr>");
      i++;
    });
    return i;
  }

</script>
  