<section id="pid_results">
  
  <% if !@failures.empty? %>
  
    <header>Unable to create the following PID(s):</header>
  
    <ul>
      <% @failures.each do |url, msg| %>
        <li><%= msg %> <a href="<%= url %>"><%= url %></a></li>
      <% end %>
    </ul>
    
    <hr />
  <% end %>
  
  <% if !@successes.empty? %>
    <header>Successfully created the following PID(s):</header>
    
    <ul>
      <% @successes.each do |success| %>
        <li><a href="<%= @hostname %><%= success %>">View PID <%= success %></li>
      <% end %>
    </ul>
  <% end %>
  
</section>