<section id="search_criteria">
  <h3><%= HTML_CONFIG['header_search_criteria'] %></h3>
  
  <form action="/link/search" method="post">
    <label><%= HTML_CONFIG['form_url'] %></label><input type="text" id="url" name="url" style="width: 350px;" value="<%= params[:url] %>" />
    
		<label><%= HTML_CONFIG['form_userid'] %></label>
    <select id="userid" name="userid">
    <option value=""></option>
      <% @users.each do |user| %>
        <option value="<%= user.id %>" <%= 'selected="true"' if user.id.to_s == params[:userid] %>><%= user.name %> (<%= user.login %>)</option>
      <% end %>
    </select>
    
		<label><%= HTML_CONFIG['form_pid_range'] %></label>
    <input type="number" id="pid_low" name="pid_low" value="<%= params[:pid_low] %>" min="<%= @pid_min %>" max="<%= @pid_max %>" style="width: 100px;" />
		<div> - </div> 
    <input type="number" id="pid_high" name="pid_high" value="<%= params[:pid_high] %>" min="<%= @pid_min %>" max="<%= @pid_max %>" style="width: 100px;" />
    <div>(between <%= @pid_min %> and <%= @pid_max %>)</div>
		
		<label><%= HTML_CONFIG['form_created_date_range'] %></label>
		<input type="date" id="created_low" name="created_low" value="<%= params[:created_low] %>" />
		<div> - </div> 
		<input type="date" id="created_high" name="created_high" value="<%= params[:created_high] %>" />
		
		<label><%= HTML_CONFIG['form_modified_date_range'] %></label>
		<input type="date" id="modified_low" name="modified_low" value="<%= params[:modified_low] %>" />
		<div> - </div> 
		<input type="date" id="modified_high" name="modified_high" value="<%= params[:modified_high] %>" />
		
		<label><%= HTML_CONFIG['form_active'] %></label>
		<select id="active" name="active">
			<option <%= 'selected="true"' if params[:active] == '' %>></option>
			<option value="1" <%= 'selected="true"' if params[:active] == '1' %>>Yes</option>
			<option value="0" <%= 'selected="true"' if params[:active] == '0' %>>No</option>
		</select>

    <label>&nbsp;</label><input type="submit" id="submit" name="submit" value="<%= HTML_CONFIG['button_search'] %>" />
		<input type="submit" id="reset" name="reset" value="<%= HTML_CONFIG['button_reset'] %>" />
  </form>

  <article><%= HTML_CONFIG['search_text'] %></article>
  
</section>

<% if request.request_method == "POST" %>
  
  <section id="search_results">
    <h3><%= HTML_CONFIG['header_search_results'] %></h3>
    
    <% i = 1 %>
    <% unless @results.empty? %>
      <table>
        <tr><th /><th><%= HTML_CONFIG['th_pid'] %></th><th><%= HTML_CONFIG['th_url'] %></th><th><%= HTML_CONFIG['th_userid'] %></th>
          <th><%= HTML_CONFIG['th_modified_date'] %></th><th><%= HTML_CONFIG['th_active'] %></th></tr>
        <% @results.each do |result| %>
          <tr>
            <td><%= i %>)</td>
            <td>
              <a href="/link/<%= result.id %>" class="letterpress"><%= result.id %></a>
            </td>
            <td><a href="<%= result.url %>" target="_blank" class="underline" title="<%= result.url %>">
                    <%= (result.url.size > 80) ? result.url.slice(0, 79) + ' ...' : result.url %></a></td>
            <td><%= result.username %></td>
            <td><%= result.modified_at.strftime("%m/%d/%Y") %></td>
            <td class="center"><%= (result.deactivated) ? '<span class="red bold">' + HTML_CONFIG['td_false'] + '</span>' : HTML_CONFIG['td_true'] %></td>
          </tr>
          
          <% i = i.next %>
        <% end %>
      </table>
      
    <% else %>
      <article id="no_results"><%= HTML_CONFIG['search_no_matches'] %></article>
    <% end %>
  </section>

<% end %>

<script type="text/javascript">
	$("#reset").click( function(event){
		event.preventDefault();
		
		$("#url").val('');
		$("userid").val('');
		
		$("#pid_low").val('<%= @defaults[:pid_min] %>');
		$("#pid_high").val('<%= @defaults[:pid_max] %>');
		
		$("#created_low").val('<%= @defaults[:created_low] %>');
		$("#created_high").val('<%= @defaults[:created_high] %>');
		$("#modified_low").val('<%= @defaults[:modified_low] %>');
		$("#modified_high").val('<%= @defaults[:modified_high] %>');
		
		$("#active").val('');
	});
</script>
