<section id="pid_info">
  <h3>PID <%= @pid.id %></h3>
  <h4 class="red"><% if(@pid.deactivated) %>Inactive!<% end %></h4>
  
  <ul>
    <li>
      <table>
        <tr><td class="bold">PID:</td><td>
          <%= link_to(to("/PID/#{@pid.id}")) %>
          <button onclick="alert('This will copy the PID url to the user\'s clipboard');" style="margin-left: 20px;">Copy</button>
        </td></tr>
        <tr><td class="bold">URL:</td><td><%= link_to(@pid.url) %></td></tr>
        <tr><td class="bold">Maintainers:</td><td><%= @pid.groups.map { |group| group.id }.join(',') %></td></tr>
        <tr><td class="bold">Creation Date:</td><td><%= @pid.created_at.strftime("%a %b %e %k:%M:%S %Y") %></td></tr>
        <tr><td class="bold">Last Modified:</td><td><%= @pid.modified_at.strftime("%a %b %e %k:%M:%S %Y") %></td></tr>
        <tr><td class="bold">Change Category:</td><td><%= @pid.change_category %></td></tr>
        <tr><td class="bold">Active:</td><td><%= (@pid.deactivated) ? "No" : "Yes" %></td></tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr><td></td><td>
          <form id="edit_pid_form" action="/link/edit/<%= @pid.id %>" method="get">
            <button id="edit_pid">Edit</button>
            <input type="hidden" id="pid" value="<%= @pid.id %>" />
          </form>
        </td></tr>
      </table>
    </li>
  </ul>
  
  <hr />
</section>

<section id="pid_history">
  <h3>History</h3>
  
  <ul>
    <% @pid.pid_versions.sort{ |x,y| y.created_at <=> x.created_at }.each do | version | %>
      
      <% unless @pid.url == version.url && @pid.modified_at == version.created_at %>
        <li class="pid_version">
          <table>
            <tr><td class="bold">Old URL:</td><td><%= version.url %></td></tr>
            <tr><td class="bold">Created by:</td><td><%= version.username %></td></tr>
            <tr><td class="bold">Created on:</td><td><%= version.created_at.strftime("%a %b %e %k:%M:%S %Y") %></td></tr>
            <tr><td class="bold">Change category:</td><td><%= version.change_category %></td></tr>
            <tr><td class="bold">Active:</td><td><%= (version.deactivated) ? "No" : "Yes" %></td></tr>
          </table>
        </li>
      <% end %>
      
    <% end %>
  </ul>
  
</section>

<script type="text/javascript">
  
  //To-Do: The modal does not scroll in the browser if its longer than the parent page!
  
  $(document).ready(function() {
    $("#edit_pid").click( function(event){
      
      var pid = $("#pid").val();
      
      // if the content_[pid] element exists then the edit is in a modal dialog so perform
      // an ajax request back to the server to load the edit form
      if($("#content_" + pid).length !== 0){
        event.preventDefault();
        $.ajax({
          url:      '/link/edit/' + pid + '?ajax=1',
          type:     'get',
          success:  function(data) {
            $("#content_" + pid).html(data);
          },
          error: function(data) {
            $("#content_" + pid).html(data);
          },
          complete: {}
        });
      
      }else{
        // We're not in a modal dialog situation so just go to the edit form
        $("#edit_pid_form").submit();
      }
    });
  });
</script>