<section id="user_login">
	<h3>User Profile</h3>
	
	<form>
		<label>Group:</label>
		<% if @groups %>
			<select name="group" id="group">
				<% @groups.each do |group| %>
				<option value="<%= group.id %>" <%= 'selected="true"' if @user.group.id == group.id %>><%= group.name %></option>
				<% end %>
			</select>
			<label>Can maintain group?</label><input type="checkbox" name="maintainer" id="maintainer" <% if @maintainer %>checked="checked"<% end %> />
			<label>Is Active?</label><input type="checkbox" name="active" id="active" <% if @user.active %>checked="checked"<% end %> />
			<label>Is Locked?</label><input type="checkbox" name="locked" id="locked" <% if @user.locked %>checked="checked"<% end %> />
		<% else %>
			<input type="text" id="group" name="group" readonly="true" value="<%= @group %>" />
		<% end %>
		<label>User Id:</label><input type="text" name="login" id="login" value="<%= @user.login %>" />
		<label>Full Name:</label><input type="text" name="name" id="name" value="<%= @user.name %>" />
		<label>Email:</label><input type="email" name="email" id="email" value="<%= @user.email %>" />
		<label>Affiliation:</label><input type="text" name="affiliation" id="affiliation" value="<%= @user.affiliation %>" />
		
		<label>Password:</label><input type="password" name="password" id="password" />
		<label>Confirm:</label><input type="password" name="confirm" id="confirm" />
		<input type="submit" id="submit" name="submit" value="Submit" />
	</form>
	
	<div class="errors">
		<%= @msg %>
		
    <% if @user && @user.errors %>
      <% @user.errors.full_messages.each do | message | %>
        <%= message %></br>
      <% end %>
    <% end %>
	</div>
</section>

<script type="text/javascript">
  
  //To-Do: The modal does not scroll in the browser if its longer than the parent page!
  
  //$(document).ready(function() {
    $("#submit").click( function(event){
      event.preventDefault();
			
			if($("#login").val() != '' && $("#email").val() != '' && $("#group").val() != ''){
			
      	$.ajax({
        	url:      '/user/<%= @user.id %>',
        	type:     'put',
					data: 		$("form").serialize(), 
        	success:  function(data) {
						$(".user_login").html(data);
						$(".errors").css('color', '#298A08');
					},
        	error: function(data) {
						$(".user_login").html(data);
        	},
        	complete: {}
      	});
      }else{
				$(".errors").html( ($("#login").val() == '') ? 'The user id cannot be blank!<br />' : '' +
														($("#email").val() == '') ? 'The email address cannot be blank!<br />' : '' +
														($("#group").val() == '') ? 'You must select a user group!<br />' : '' );
			}
    });
		//});
</script>