<html>
    <div><b>PID: <%= @pid.id %></b><br/>
        PID URL: <a href="http://scollett.ad.ucop.edu:3000/<%= @pid.id %>">http://scollett.ad.ucop.edu:3000/<%= @pid.id %></a><br/> 
        Maintainers: <%= @pid.groups.map { |group| group.id }.join(',') %>
    </div>
    <br/>
    <% @pid.pid_versions.reverse.each do | version | %>
    <div>    
        
        URL: <%= version.url %><br/>
        User: <%= version.username %><br/>
        Change category: <%= version.change_category %><br/>
        Notes: <%= version.notes %><br/>
        Timestamp: <%= version.created_at %><br/>
    </div>
    <br/>
    <% end %>
</html>