<section id="pid_info">
  <h3><%= HTML_CONFIG['header_pid_view'] %> <%= @pid.id %><% if(@pid.deactivated) %><span class="red"> - <%= HTML_CONFIG['header_pid_inactive'] %></span><% end %></h3>
  
  <form action="/link/<%= @pid.id %>" method="get" id="pid_update" name="pid_update">
    <label><%= HTML_CONFIG['form_pid'] %></label><span class="form_informational" style="width: 80%;"><%= link_to(to("/PID/#{@pid.id}")) %></span>
    
    <label for="url"><%= HTML_CONFIG['form_url'] %></label>
    <% if @is_owner %>
      <input type="text" id="url" name="url" style="width: 450px;" value="<%= @pid.url %>" />
    <% else %>
      <span class="form_informational" style="width: 80%;"><%= @pid.url %></span>
    <% end %>
    
    <% if !@groups.empty? && @is_owner %>
      <label for="group"><%= HTML_CONFIG['form_group'] %></label>
      <select name="group" id="group">
        <% @groups.each do |group| %>
          <option value="<%= group.id %>" <% if @pid.group == group %>selected="selected"<% end %>><%= group.name %></option>
        <% end %>
      </select>
    <% else %>
      <label><%= HTML_CONFIG['form_groupid'] %></label>
      <span class="form_informational"><%= @pid.group.id %><input type="hidden" id="group" name="group" value="<%= @group.id %>" /></span>
    <% end %>
  
    <label><%= HTML_CONFIG['form_created_date'] %></label>
    <span class="form_informational"><%= @pid.created_at.strftime("%a %b %e %k:%M:%S %Y") %></span>
    <label><%= HTML_CONFIG['form_modified_date'] %></label>
    <span class="form_informational"><%= @pid.modified_at.strftime("%a %b %e %k:%M:%S %Y") %></span>
    <label><%= HTML_CONFIG['form_modified_by'] %></label><span class="form_informational"><%= @pid.username %></span>
    <label><%= HTML_CONFIG['form_change_category'] %></label><span class="form_informational"><%= @pid.change_category %></span>

    <label for="active"><%= HTML_CONFIG['form_active'] %></label>
    <% if @is_owner %>
      <input type="checkbox" id="active" name="active" <%= !@pid.deactivated ? 'checked="checked"' : '' %> />
    <% else %>
      <span class="form_informational"><%= @pid.deactivated ? 'No' : 'Yes' %></span>
    <% end %>
    
    <label><%= HTML_CONFIG['form_notes'] %></label>
    <% if @is_owner %>
      <input type="text" id="notes" name="notes" value="<%= @pid.notes %>" style="width: 450px;" />
    <% else %>
      <span class="form_informational" style="width: 80%;"><%= @pid.notes %></span>
    <% end %>
    
    <% if @interested.size > 0 %>
      <label>&nbsp;</label><span class="form_informational" style="width: 80%;">&nbsp;</span>
      <label for="interested"><%= HTML_CONFIG['form_interested'] %></label>
      <span class="form_informational">
        <% @interested.each do |it| %>
          <%= it.group_id %>,
        <% end %>
      </span>
    <% end %>
    
    
    <% if @is_owner %>
      <% if @interested.size > 0 %>
        <label>&nbsp;</label><span class="form_informational" style="width: 80%;">&nbsp;</span>
        
        <label>&nbsp;</label><span class="form_informational" style="width: 80%;"><%= HTML_CONFIG['edit_pid_interested_parties'] %></span>
      <% end %>
    
      <label>&nbsp;</label><input type="submit" id="submit" name="submit" value="<%= HTML_CONFIG['button_update_pid'] %>" />
    <% else %>
      <label>&nbsp;</label><span class="form_informational" style="width: 80%;">&nbsp;</span>
      <label>&nbsp;</label>
      <span class="errors form_informational" style="width: 80%;">
        <%= HTML_CONFIG['edit_pid_not_owner'].gsub('{?}', '<a href="mailto:' + @owner.email + '">' + @owner.name + '</a>') %>
      </span>
    <% end %>
  </form>
  
</section>

<section class="errors">
  <%= "#{@msg}<br /><br />" %>
  
  <% if @pid.errors %>
    <% @pid.errors.full_messages.each do | message | %>
      <%= message %></br>
    <% end %>
  <% end %>
</section>

<section id="pid_history">
  <h3><%= HTML_CONFIG['header_pid_history'] %></h3>
  
  <% @pid.pid_versions.sort{ |x,y| y.created_at <=> x.created_at }.each do | version | %>
      
    <% unless @pid.url == version.url && @pid.modified_at == version.created_at %>
      <form>
        <label><%= HTML_CONFIG['form_old_url'] %></label><span class="form_informational" style="width: 80%;"><%= version.url %></span>
        <label><%= HTML_CONFIG['form_groupid'] %></label><span class="form_informational"><%= version.group %></span>
        <label><%= HTML_CONFIG['form_created_by'] %></label><span class="form_informational"><%= version.username %></span>
        <label><%= HTML_CONFIG['form_created_date'] %></label>
        <span class="form_informational"><%= version.created_at.strftime("%a %b %e %k:%M:%S %Y") %></span>
        <label><%= HTML_CONFIG['form_change_category'] %></label><span class="form_informational"><%= version.change_category %></span>
        <label><%= HTML_CONFIG['form_active'] %></label><span class="form_informational"><%= (version.deactivated) ? "No" : "Yes" %></span>
        <label><%= HTML_CONFIG['form_notes'] %></label><span class="form_informational" style="width: 80%;"><%= (version.notes) %></span>
      </form>
      
      <hr />
    <% end %>
    
  <% end %>
</section>

<script type="text/javascript">
  $("#submit").click( function(event){
    event.preventDefault();
  
    var validation = validate(["url", "group"], [], ["url"], [ [] ]);
  
    // If there were no validation errors submit the changes to the application
    if( validation == '' ){
  
      $.ajax({
        url:      '/link/<%= @pid.id %>',
        type:     'put',
        data:     $("#pid_update").serialize(), 
        success:  function(data) {
          $("body").html(data);
          $(".errors").css('color', '#298A08');
        },
        error: function(xhr) {
          if(xhr.status == 401){
            window.location.replace('<%= hostname[0, hostname.length - 1] %><%= SECURITY_CONFIG['target_after_logout'] %>');
          }else{
            $(".errors").html(xhr.responseText);
          }
          
        },
        complete: {}
      });
    
    // Otherwise display the errors to the user.
    }else{
      $(".errors").html(validation);
    }
  });
</script>