<header>PID Information Display</header>

<section id="pid_info">
  <header class="red"><% if(@pid.deactivated) %>Inactive<% end %></header>
  
	<ul>
		<li>
		  <table>
		    <tr><td class="bold">PID:</td><td><%= link_to(to("/PID/#{@pid.id}")) %></a></td></tr>
		    <tr><td class="bold">PID URL:</td><td><%= link_to(@pid.url) %></td></tr>
		    <tr><td class="bold">Maintainers:</td><td><%= @pid.groups.map { |group| group.id }.join(',') %></td></tr>
		    <tr><td class="bold">Creation Date:</td><td><%= @pid.created_at.strftime("%a %b %e %k:%M:%S %Y") %></td></tr>
		    <tr><td class="bold">Last Modified:</td><td><%= @pid.modified_at.strftime("%a %b %e %k:%M:%S %Y") %></td></tr>
		    <tr><td class="bold">Change Category:</td><td><%= @pid.change_category %></td></tr>
		  </table
		</li>
  </ul>
  
  <hr />
</section>

<section id="pid_history">
  <header>History</header>
  
  <ul>
    <% @pid.pid_versions.each do | version | %>
      
      <% unless @pid.url == version.url && @pid.modified_at == version.created_at %>
        <li class="pid_version">
          <table>
            <tr><td class="bold">Old URL:</td><td><%= version.url %></td></tr>
            <tr><td class="bold">Created by:</td><td><%= version.username %></td></tr>
            <tr><td class="bold">Created on:</td><td><%= version.created_at.strftime("%a %b %e %k:%M:%S %Y") %></td></tr>
            <tr><td class="bold">Change category:</td><td><%= version.change_category %></td></tr>
            <tr><td class="bold">Notes:</td><td><%= version.notes %></td></tr>
          </table>
        </li>
      <% end %>
      
    <% end %>
  </ul>
  
</section>