<section id="search_criteria">
  <form action="/public/search" method="post">
    <h3><%= HTML_CONFIG['header_search_pid_set'] %></h3>
    
    <label><%= HTML_CONFIG['form_pid_set'] %></label>
    <textarea id="pid_set" name="pid_set" style="height: 80px; width: 60%" title="<%= HTML_CONFIG['pid_set_tooltip'] %>"><%= params[:pid_set] %></textarea>
    
    <h3><%= HTML_CONFIG['header_search_criteria'] %></h3>
    
    <label><%= HTML_CONFIG['form_url'] %></label>
    <input type="text" id="url" name="url" style="width: 350px;" value="<%= params[:url] %>" />
    <div><%= HTML_CONFIG['form_search_url_instruction'] %></div>
    
    <label><%= HTML_CONFIG['form_group'] %></label>
    <select id="groupid" name="groupid">
    <option value=""></option>
      <% @groups.each do |group| %>
        <option value="<%= group.id %>" <%= 'selected="true"' if group.id.to_s == params[:groupid] %>><%= group.name.gsub("'", "&apos;") %></option>
      <% end %>
    </select>
        
    <label><%= HTML_CONFIG['form_pid_range'] %></label>
    <input type="number" id="pid_low" name="pid_low" value="<%= params[:pid_low] %>" min="<%= @pid_min %>" max="<%= @pid_max %>" style="width: 100px;" />
    <div> - </div> 
    <input type="number" id="pid_high" name="pid_high" value="<%= params[:pid_high] %>" min="<%= @pid_min %>" max="<%= @pid_max %>" style="width: 100px;" />
    
    <label><%= HTML_CONFIG['form_active'] %></label>
    <select id="active" name="active">
      <option <%= 'selected="true"' if params[:active] == '' %>></option>
      <option value="1" <%= 'selected="true"' if params[:active] == '1' %>>Yes</option>
      <option value="0" <%= 'selected="true"' if params[:active] == '0' %>>No</option>
    </select>
    
    <label>&nbsp;</label><input type="submit" id="submit" name="submit" value="<%= HTML_CONFIG['button_search'] %>" />
    <input type="submit" id="reset" name="reset" value="<%= HTML_CONFIG['button_reset'] %>" />
  </form>

  <img src="/spinner.gif" id="spinner" style="top: 450px;" />
</section>

<section class="errors">
  <%= @msg %>
</section>

<% if request.request_method == "POST" %>
  
  <section id="search_results">
    <h3><%= HTML_CONFIG['header_search_results'] %></h3>

    
    <span style="left"><%= HTML_CONFIG['search_text'] %><br /></span>
    
    <% unless @json == '' %>
      <span style="left" id="rec_count"></span>

      <table>
        <tr><th />
        <th id="th_id"><a href="#"><%= HTML_CONFIG['th_pid'] %></a></th>
        <th id="th_url"><a href="#"><%= HTML_CONFIG['th_url'] %></a></th>
        <th id="th_username"><a href="#"><%= HTML_CONFIG['th_last_modified_by'] %></a></th>
        <th id="th_modified_at"><a href="#"><%= HTML_CONFIG['th_modified_date'] %></a></th>
        <th id="th_deactivated"><a href="#"><%= HTML_CONFIG['th_active'] %></a></th></tr>
      </table>
      
      <input type="hidden" id="data" value='<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>' />
      
    <% else %>
      <article id="no_results"><%= HTML_CONFIG['search_no_matches'] %></article>
    <% end %>
  </section>

<% end %>

<script type="text/javascript">
  $("#spinner").hide();

  // Parse the json
  var json = $.parseJSON('<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>');
  $("#data").val('<%= @json.gsub("'", '%27').gsub("\\", '%5C') %>');

  // Setup table pagination
  paginate_init(<%= APP_CONFIG['search_results_limit'] %>, json.length);
  
  $("#rec_count").html(json.length.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " records found");
  
  // Filter the json dataset for the current page
  var json_subset = paginate_json(json, 1);
  
  // Add a line to the table for each item in the JSON
  buildResultsTable(json_subset);
  
  // Build the pagination navigation line
  pagination_build_nav($("table"), 1);
  
  
  $("th:not(.pagination)").click( function() {
    $("#spinner").show();
    
    // Sort the entire json dataset
    var sorted = sort_json_data($.parseJSON($("#data").val()), $(this).attr('id').replace('th_', ''));
    
    $("#data").val(JSON.stringify(sorted));
    
    // Get the paginated subset of json data and rebuild the table
    buildResultsTable(paginate_json(sorted, parseInt($("#current_page").val())));

    // Rebuild the pagination navigation
    pagination_build_nav($("table"), parseInt($("#current_page").val()));

    $("#spinner").hide();
  });
  
  $("th.pagination").click( function() {    
    changePage();
  });


  $("#submit").click( function(){
    $("#spinner").show();
    $(".errors").html("");
    $("#search_results").hide();
  });

  $("#reset").click( function(event) {
    event.preventDefault();
    reset_form_criteria('<%= HTML_CONFIG['unable_to_load_criteria_defaults'] %>');
  });
  
  $("#pid_low").change(function() {
    if($("#pid_high").val() == ""){
      $("#pid_high").val($("#pid_low").val())
    }
  });
  
  // Required by the pagination controls since rebuilding the nav tr would lose the above th.pagination click event
  function changePage(){
    $("#spinner").show();
    
    var page = parseInt($("#current_page").val());
    
    // Get the paginated subset of json data and rebuild the table
    buildResultsTable(paginate_json($.parseJSON($("#data").val()), page), page - 1);

    // Rebuild the pagination navigation
    pagination_build_nav($("table"), parseInt($("#current_page").val()));

    $("#spinner").hide();
  }
  
  function buildResultsTable(json, current_page){
    var i = 1;
    if(!isNaN(current_page)){
      i = (current_page * <%= APP_CONFIG['search_results_limit'] %>) + 1;
    }
    
    $("table").find('tr:not(.page_nav):gt(0)').remove();
    
    $.each(json, function(idx, pid) {
      var dt = new Date(pid.modified_at);
      var modified = "" + (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + dt.getHours() + ":" + dt.getMinutes()
  
      $("table tr:last").after('<tr class="result_row">' +
                                '<td>' + i.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ')</td>' + 
                                '<td><a href="/public/' + pid.id + '" class="letterpress">' + pid.id + '</a></td>' +
                                '<td><a href="' + pid.url + '" target="_blank" class="underline" title="' + pid.url + '">' +
                                            ((pid.url.length > 70) ? pid.url.substring(0, 69) + ' ...' : pid.url) + '</a></td>' +
                                '<td>' + pid.username + '</td>' +
                                '<td>' + modified + '</td>' +
                                '<td class="center">' + (pid.deactivated ? '<span class="red bold"><%= HTML_CONFIG["td_false"] %></span>' : '<%= HTML_CONFIG["td_true"] %>') + '</td>' +
                              '</tr>');
      i++;
    });
    return i;
  }
</script>
