<section id="pid_info">
  <h3><%= HTML_CONFIG['header_pid_view'] %> <%= @pid.id %><% if(@pid.deactivated) %><span class="red"> - <%= HTML_CONFIG['header_pid_inactive'] %></span><% end %></h3>
  
  <form action="/link/<%= @pid.id %>" method="get" id="pid_update" name="pid_update">
    <label><%= HTML_CONFIG['form_pid'] %></label><span class="form_informational" style="width: 80%;"><%= link_to(to("/PID/#{@pid.id}")) %></span>
    
    <label for="url"><%= HTML_CONFIG['form_url'] %></label>
    <span class="form_informational" style="width: 80%;"><%= @pid.url %></span>
    
		<label><%= HTML_CONFIG['form_groupid'] %></label><span class="form_informational"><%= @pid.group.id %></span>
    
    <label><%= HTML_CONFIG['form_created_date'] %></label>
    <span class="form_informational"><%= @pid.created_at.strftime("%a %b %e %k:%M:%S %Y") %></span>
    <label><%= HTML_CONFIG['form_modified_date'] %></label>
    <span class="form_informational"><%= @pid.modified_at.strftime("%a %b %e %k:%M:%S %Y") %></span>
    <label><%= HTML_CONFIG['form_modified_by'] %></label><span class="form_informational"><%= @user.nil? ? 'Unknown' : @user.name %></span>

    <label for="active"><%= HTML_CONFIG['form_active'] %></label>
    <span class="form_informational"><%= @pid.deactivated ? 'No' : 'Yes' %></span>
    
    <label><%= HTML_CONFIG['form_notes'] %></label>
    <span class="form_informational" style="width: 80%;"><%= @pid.notes unless @pid.notes.nil? %></span>
    
</section>
