<section id="search_criteria">
  <form id="searchForm" action="/public/search" method="get">
    <h3><%= HTML_CONFIG['header_search_pid_set'] %></h3>
    
    <label><%= HTML_CONFIG['form_pid_set'] %></label>
    <textarea id="pid_set" name="pid_set" style="height: 80px; width: 60%" title="<%= HTML_CONFIG['pid_set_tooltip'] %>"><%= @cleaned_params[:pid_set] %></textarea>
    
    <h3><%= HTML_CONFIG['header_search_criteria'] %></h3>
    
    <label><%= HTML_CONFIG['form_url'] %></label>
    <input type="text" id="url" name="url" style="width: 350px;" value="<%= @cleaned_params[:url] %>" />
    <div><%= HTML_CONFIG['form_search_url_instruction'] %></div>
    
    <label><%= HTML_CONFIG['form_group'] %></label>
    <select id="groupid" name="groupid">
      <option value=""></option>
      <% @groups.each do |id, name| %>
        <option value="<%= id %>" <%= 'selected="true"' if id == @cleaned_params[:groupid] %>><%= name.gsub("'", "&apos;") %></option>
      <% end %>
    </select>
        
    <label><%= HTML_CONFIG['form_pid_range'] %></label>
    <input type="number" id="pid_low" name="pid_low" value="<%= @cleaned_params[:pid_low] %>" style="width: 100px;" />
    <div> - </div> 
    <input type="number" id="pid_high" name="pid_high" value="<%= @cleaned_params[:pid_high] %>" style="width: 100px;" />
    
    <label><%= HTML_CONFIG['form_active'] %></label>
    <select id="active" name="active">
      <option value="" <%= 'selected="true"' if @cleaned_params[:active].blank? || (@cleaned_params[:active] != '0' && @cleaned_params[:active] != '1') %>></option>
      <option value="0" <%= 'selected="true"' if @cleaned_params[:active] == '0' %>>No</option>
      <option value="1" <%= 'selected="true"' if @cleaned_params[:active] == '1' %>>Yes</option>
    </select>
    
    <label>&nbsp;</label><input type="submit" id="submit" name="submit" value="<%= HTML_CONFIG['button_search'] %>" />
    <input type="submit" id="reset" name="reset" value="<%= HTML_CONFIG['button_reset'] %>" />
  </form>
</section>

<section class="errors">
  <%= @msg %>
</section>

<section id="search_results">
  <% if !@results.nil? %>
    <% if @results.any? %>
    <h3><%= HTML_CONFIG['header_search_results'] %></h3>
    
    <div class="search-info">
      <span id="rec_count"><%= "Found #{@results.count} record(s)" %></span>
    </div>
    
    <table class="search-table">
      <thead>
        <tr>
          <th><%= HTML_CONFIG['th_pid'] %></th>
          <th><%= HTML_CONFIG['th_url'] %></th>
          <th><%= HTML_CONFIG['th_last_modified_by'] %></th>
          <th><%= HTML_CONFIG['th_modified_date'] %></th>
          <th><%= HTML_CONFIG['th_active'] %></th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |result| %>
          <tr>
            <td><a href="<%= "/public/#{result.id}" %>" class="letterpress"><%= result.id %></a></td>
            <% if result.url.length <= 50 %>
              <td><%= result.url %></td>
            <% else %>
              <td data-toggle="tooltip" title="<%= result.url %>"><%= result.url.slice(0, 50) + '...' %></td>
            <% end %>
            <td><%= result.username %></td>
            <td><%= result.modified_at %></td>
            <td><%= result.deactivated ? 'Inactive' : 'Active' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @results %>
    <% else %>
      <article id="no_results"><%= HTML_CONFIG['search_no_matches'] %></article>
    <% end %>
  <% end %>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    updateConstraints();

    $("#reset").click(function(event) {
      event.preventDefault();
      window.location.href = '/public/search';
    });

    $('#pid_low').on('input', function() {
      updateRequiredStateRangeSearch('#pid_low', '#pid_high');
    });

    $('#pid_high').on('input', function() {
      updateRequiredStateRangeSearch('#pid_high', '#pid_low');
    });

    $("#pid_set").on('input', function() {
      if ($(this).val().trim() !== '') {
        $('input').prop('required', false);
      } else {
        updateConstraints()
      }
    });
  });

  // Update required state based on value
  function updateRequiredStateRangeSearch(trigger, target) {
    var pid_set_value = $('#pid_set').val().trim();
    var value = $(trigger).val().trim();
    if (pid_set_value === '' && value !== '') {
      $(target).prop('required', true);
    } else {
      $(target).prop('required', false);
    }
  }

  function updateConstraints() {
    updateRequiredStateRangeSearch('#pid_low', '#pid_high');
    updateRequiredStateRangeSearch('#pid_high', '#pid_low');
  }
</script>